# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Example binaries
example/example
example/simple/simple
example/debug-only/debug-only

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Dependency directories (remove the comment below to include it)
vendor/
oryxBuildBinary

# Build directory
build/

# Development binary (in root directory only)
/azemailsender
